includes:
    - phar://phpstan.phar/conf/bleedingEdge.neon
#    - phpstan-baseline.neon
parameters:
    level: 8
    inferPrivatePropertyTypeFromConstructor: true
    bootstrapFiles:
        - vendor/autoload.php
    paths:
        - src/
